<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.osgrim">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:logo="@drawable/logo_osgrim"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:icon="@drawable/logo_osgrim"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BilanCirActivity"
            android:icon="@drawable/logo_osgrim"
            android:label="@string/bilan_cir"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance"
            />
        <activity android:name=".BilanFoncActivity"
            android:icon="@drawable/logo_osgrim"
            android:label="@string/bilan_fonc"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance"
            />
        <activity android:name=".DsaActivity"
            android:icon="@drawable/logo_osgrim"
            android:label="@string/bilan_dsa"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance"
            />
        <activity android:name=".BilanLesActivity"
            android:icon="@drawable/logo_osgrim"
            android:label="@string/bilan_les"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleInstance"
            />
    </application>

</manifest>